In [0]:
from pandas import DataFrame
from google.colab import files
uploaded = files.upload()

Saving house_data.csv to house_data.csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
data=pd.read_csv("house_data.csv")

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [0]:
data.corr()

                     id     price  ...  sqft_living15  sqft_lot15
id             1.000000 -0.016762  ...      -0.002901   -0.138798
price         -0.016762  1.000000  ...       0.585379    0.082447
bedrooms       0.001286  0.308350  ...       0.391638    0.029244
bathrooms      0.005160  0.525138  ...       0.568634    0.087175
sqft_living   -0.012258  0.702035  ...       0.756420    0.183286
sqft_lot      -0.132109  0.089661  ...       0.144608    0.718557
floors         0.018525  0.256794  ...       0.279885   -0.011269
waterfront    -0.002721  0.266369  ...       0.086463    0.030703
view           0.011592  0.397293  ...       0.280439    0.072575
condition     -0.023783  0.036362  ...      -0.092824   -0.003406
grade          0.008130  0.667434  ...       0.713202    0.119248
sqft_above    -0.010842  0.605567  ...       0.731870    0.194050
sqft_basement -0.005151  0.323816  ...       0.200355    0.017276
yr_built       0.021380  0.054012  ...       0.326229    0.070958
yr_renovated  -0.016907  0.126434  ...      -0.002673    0.007854
zipcode       -0.008224 -0.053203  ...      -0.279033   -0.147221
lat           -0.001891  0.307003  ...       0.048858   -0.086419
long           0.020799  0.021626  ...       0.334605    0.254451
sqft_living15 -0.002901  0.585379  ...       1.000000    0.183192
sqft_lot15    -0.138798  0.082447  ...       0.183192    1.000000

[20 rows x 20 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
data.drop('date',axis=1,inplace=True)

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
id               21613 non-null int64
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15)
memory usage: 3.3 MB

In [0]:
data.drop('id',axis=1,inplace=True)

In [0]:
data.drop('zipcode',axis=1,inplace=True)

In [0]:
data.drop('lat',axis=1,inplace=True)

In [0]:
data.drop('long',axis=1,inplace=True)

In [0]:
data.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [0]:
X=data[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated']]
y=data['price']

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.30)

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
lm=LinearRegression()

In [0]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
lm.predict(X_test)

array([ 485300.25681098,  332340.5752079 ,  448590.30790415, ...,
       1104383.12100563,  370143.68923255,  684536.67033522])